<div class="container my-3 col-md-6">
    <div class="row">
      <div class="col-8">
        <h3 class="tableName">List of pins</h3>
      </div>
      <div class="col-4 text-end">
        <button type="button" class="btn btn-primary mb-2 cta-width" (click)="addCustomer()">+ Add Customer</button>
        <br/>
        <button type="button" class="btn btn-primary mb-2 cta-width" (click)="addPin()">+ Add Pin</button>
      </div>
    </div>
  </div>

  <div class="container my-3 col-md-6">
    <div class="text-center">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Image</th>
                <th scope="col">Collaborators</th>
                <th scope="col">Privacy</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngIf="pinsList.length === 0">
                <td colspan="4">No Data</td>
              </tr>

              <tr *ngFor="let data of pinsList">
                <td>{{data.title}}</td>
                <td><img [src]="data.image" alt="Image 1" class="img-fluid"></td>
                <td>{{data?.collaborators[0]}}, {{data?.collaborators[1]}}</td>
                <td>{{data.privacy}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>