.alertStyles {
    position: fixed !important;
    bottom: 0;
    z-index: 103;
    font-weight: bold;
    right: 20px;
    border: 1px solid #000 !important;
  }

  .cursorPointer{
    cursor: pointer;
  }

  .required {
    color: red;
  }
  
  label{
    font-weight: bold;
  }